.index-body{
  background-image: linear-gradient(#ff88d3,#c2001d);
  margin: 0;
  height: 97vh; 
  width: 100vw;
}
.navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #503bbd;
  height: 50px
}
.navbar a {
  color: #e92f70dc;
  font-size: 20px;
  padding: 10px;
}
.main-content{
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  height: 92vh;
}
audio{
  margin: 10px;
}